.name {
    color : orange;
    }

blockquote {
    color: gray;
}

a {
    color: red;
    }

a:hover {
    color: blue;
    }
/*
a:visited {
    color :
    }
*/

#number {
    color : brown;
    }
