<!-- Declare all the variables -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/add_tomato.js')}}"></script>
<link href='http://fonts.googleapis.com/css?family=Headland+One|Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://labs.voronianski.com/media/style/reset.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/avgrund.css">
<script src="static/js/jquery.avgrund.js"></script>
{% extends "template.html" %}
{% block content %}

<h2>Pomodoro App</h2>
{% for message in messages %}
<script type="text/javascript">
  addName( "{{message}}" );
</script>
{% endfor %}
<ul class="space" style="list-style-type: none;">
  {% for m in messages_range %}
  <script type="text/javascript">
    addNumberOfNodes();
    addNode({{m}});
  </script>
  {% endfor %}
</ul>
<!-- Go to App1.html -->
<div class="buttons">
  <a href="#" id="show" class="button left">Get To Work!</a>
</div>

<script>
  $(function() {
  $('#show').avgrund({
  height: 200,
  holderClass: 'custom',
  showClose: true,
  showCloseText: 'close',
  onBlurContainer: '.container',
  template: '<p> Have you completed assigning subtasks? Are you ready to begin?</p>' +
  '<div>' +
    '<a href="/App1" class="github">Sure!</a>'+
    '</div>'
  });
  });
</script>
{% endblock %}
