<!-- Declare all the variables -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/add_tomato.js')}}"></script>
{% extends "template.html" %}
{% block content %}
    <h2>Pomodoro App</h2>
    <!--
    {% if message %}
    {% for info in message %}
    <h1>{{ info }}</h1>
    {% endfor %}
    {% endif %}-->

    {%set tomato_left = "40%" %}
    {%set tomato_top = "20%" %}
    {%set add_tomato_left = "50%" %}
    <!--
    <span id="add_task">
      <button type="button" class="btn btn-default" >Add Task</button>
    </span>
    <script type="text/javascript">
      addMultipleNodes();
    </script>-->


<ul class="space">
  {% for message in messages %}
  <script type="text/javascript">
    addNode();
  </script>
  {% endfor %}
</ul>
<!--
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/add_tomato.js')}}"></script> -->


{% endblock %}
