<!-- Declare all the variables -->

{% extends "template.html" %}
{% block content %}

<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/app1.js')}}"></script>
  <div>
    <div class="col-md-2" style="padding-top: 20px;">
      <div class="list-group" style="width: 200px;" id="list_group">
	<!-- insert here -->
      </div>
    </div>

    <div class="col-md-10" style="padding-left: 50px; padding-top: 20px;">
      <div class="panel panel-blue">
	<div class="panel-heading" style="font-size: 30px;"></div>
	<div class="panel-body">
	  <h4></h4>
	  <!-- Flipclock -->
	  <div class="countdown" style="padding-top: 10px; padding-left: 250px;">
	    <center>
	      <link rel="stylesheet" href=" {{ url_for('static', filename='css/flipclock.css') }} ">
	      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	      <script src="../static/js/flipclock/libs/base.js"></script>
	      <script src="../static/js/flipclock/flipclock.js"></script>
	      <script src="../static/js/flipclock/faces/counter.js"></script>
	      <script src="../static/js/flipclock/faces/hourlycounter.js"></script>
	      <script src="../static/js/flipclock/faces/dailycounter.js"></script>
	      <script src="../static/js/flipclock/faces/minutecounter.js"></script>
	      <script src="../static/js/flipclock/faces/twentyfourhourclock.js"></script>
	      <script src="../static/js/flipclock/faces/twelvehourclock.js"></script>
	      <div class="clock"></div>
	    </center>
	  </div>
	  <!-- Button -->
	  <div class="btn-toolbar" role="toolbar" style="padding-left: 320px;" id="button-group">
	    <div class="btn-group">
	      <a class="btn btn-primary" role="button">Next Task</a>
	    </div>
	    <div class="btn-group">
	      <a class="btn btn-danger" href="/giveup" role="button">I Give up!</a>
	    </div>
	  </div>

	</div>
      </div>
    </div>


<!-- Countdown -->




{% endblock %}
