{% extends "template.html" %}
  <head>
    <title> Evernote </title>
  </head>

{% block content %}

  {% if cobot %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <h1 style="color:#444444;border-radius:10px;" > Cobot Server </h1>
  <!-- if there is a post request, flash the message "hey"-->
    <form action="" method=post>
    <dl>
      <dt>Username:
	<dd><input type=text name=username value="{{ request.form.username }}">
      <dt>Password:
      <dd><input type=password name=password>
    </dl>
    <p><input type=submit value=Login>
    </form>

  {% for message in get_flashed_messages() %}
    <div class=flash>
      {{ message }}
    </div>
  {% endfor %}

{% endblock %}
