{% extends "template.html" %}
{% block content %}
<link href='http://fonts.googleapis.com/css?family=Headland+One|Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://labs.voronianski.com/media/style/reset.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/avgrund.css">


<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<h2>
  This is a test page. We are testing jQuery right now.
</h2>
<div class="buttons">
  <a href="#" id="show" class="button left">Show it</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="static/js/jquery.avgrund.js"></script>
<script>
  $(function() {
  $('#show').avgrund({
  height: 200,
  holderClass: 'custom',
  showClose: true,
  showCloseText: 'close',
  onBlurContainer: '.container',
  template: '<p>Have you completed assigning sub-tasks?</p>' +
  '<div>' +
    '<a href="#" target="_blank" class="github">Yes</a>' +
    '<a href="/App" target="_blank" class="twitter">No</a>' +
    '</div>'
  });
  });
</script>

{% endblock %}
